---
import ShowItems from "../../components/ShowItems";

import GlobalLayouts from "../../layouts/GlobalLayouts.astro";




---
<GlobalLayouts title="Restaurante La tia">
  <p>
    not found
  </p>
</GlobalLayouts>