---

import GlobalLayouts from '../layouts/GlobalLayouts.astro';
import { dataAbout } from '../components/data/aboutData'

---
<GlobalLayouts title="Restaurante La tia">
	<img
    class="fixed top-0 left-0 w-full h-full object-cover opacity-75"
    src="https://imgs.search.brave.com/-PxAIuOFX8_s9GRBa4V0A14PcyOaEJ4VKhPPZWYfh40/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE2/MTM5NDYwNjk0MTIt/MzhmN2YxZmYwYjY1/P2ZtPWpwZyZ3PTMw/MDAmYXV0bz1mb3Jt/YXQmZml0PWNyb3Am/cT02MCZpeGxpYj1y/Yi00LjAuMyZpeGlk/PU0zd3hNakEzZkRC/OE1IeHpaV0Z5WTJo/OE5ueDhjbVZ6ZEdG/MWNtRnVkSE44Wlc1/OE1IeDhNSHg4ZkRB/PQ.jpeg" alt="">
  

<div class="container mx-auto h-sccreen px-4 py-8 relative z-40 bg-slate-50/80 mb-10 rounded-xl">
	
	<div class="w-[80%] h-[300px] mx-auto  flex items-center justify-center bg-rojo-bandera/70 rounded-xl mb-16 shadow-xl">
		<img class="  object-cover  rounded-xl "
		 src={dataAbout.img}
 alt="">

	</div>
	<p class="text-xl text-center font-bold mb-6 sm:mx-28">{dataAbout.title}</p>
	<div class="w-[80%] mx-auto ">
		{
			dataAbout.description.map((about) => {
				const data = about.split(':')
			return(
			<p class="text-lg mb-6">	<strong>{data[0]}:</strong> {data[1]}	</p>
			)})
		}
	

</div>
</div>


</GlobalLayouts>
