---


const services = [
  {
    title: 'Ipad',
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    href: '#',
    img: '/dummyPhoto/ipad.png',  
  },
  {
    title: 'Accesorios',
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    href: '#',
   img:'/dummyPhoto/apple-wacth.png'  
  },
  {
    title: 'servicios',
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    href: '/servicios',
    img:'/dummyPhoto/servicios.png'
  },
 

];

---

<section>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <header class="text-center">
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">Mas informacion</h2>

   
    </header>

    <ul class="mt-8 grid grid-cols-1 gap-4 lg:grid-cols-3">
      {services.map((service) => (
        <li>
        <a href={service.href} class="group relative block">
          <img
            src={service.img}
            alt=""
            class="aspect-square w-full object-cover transition duration-500 group-hover:opacity-90"
          />

          <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
          </div>
        </a>
      </li>
      ))}

      
    </ul>
  </div>
</section>