---

import GlobalLayouts from '../../layouts/GlobalLayouts.astro';
import  { services } from '../../restauranteComponents/RestaurantService.astro'
import ShowAllBanner from '../../components/ShowAllBanner.astro';

const posts = services


---


	
		
		

	
		<GlobalLayouts title="Phone Store">
			<section class="py-10">
				<div class="flex flex-wrap justify-center items-center gap-10 ">
					{
						posts.map(({title , description , img}) => (
							<div class="w-[360px] ">
							<h2 class="text-3xl text-center mb-4">{title}</h2>
							<p class="text-center ">{description}</p>

							<img class="w-[300px] h-[250px] mx-auto rounded-xl shadow-2xl" src={img} alt="" />
						</div>
						))
					}
				</div>
			</section>
			
			<!-- <ShowAllBanner posts={posts} path="servicios" /> -->
		</GlobalLayouts>
	

